@charset "utf-8";
/* CSS Document */

/* @import url('css/font-awesome.min.css');*/

/* In html file */
/*<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta content="width=device-width, initial-scale=1" name="viewport">
<meta name="viewport" content="width=device-width">*/

/**
 * 8.0 Media Queries
 * ----------------------------------------------------------------------------
 */

/* Does the same thing as <meta name="viewport" content="width=device-width">,
 * but in the future W3C standard way. -ms- prefix is required for IE10+ to
 * render responsive styling in Windows 8 "snapped" views; IE10+ does not honor
 * the meta tag. See https://core.trac.wordpress.org/ticket/25888.
 */
@-ms-viewport {
 width: device-width;
}
@viewport {
 width: device-width;
}
 @media (max-width: 1599px) {
}
 @media (max-width: 1200px) {
}
 @media (max-width: 1069px) {
}
 @media (max-width: 992px) {
 .open .right-panel {
 margin-left:100px
}
 .right-panel {
 margin-left:295px;
}
}
@media (min-width:800px) and (max-width: 750px) {
}

/* Collapse oversized image and pulled images after iPad breakpoint. */
@media (max-width: 767px) {
 aside.left-panel {
 margin:0px !important;
 height: auto;
}
 .open .right-panel {
 margin-left: 85px;
}
.right-panel {
 margin-left:85px
}
.right-panel .menutoggle {
 position:absolute;
 right:90px;
}
.dataTables_filter {
 text-align:left;
}
.dataTables_filter label {
	display:flex;
	align-items:center;
}
.dataTables_filter label input {
	margin-left:15px;
}
.content_container h2 {
	margin-bottom:25px;
}
.dataTables_paginate.paging_simple_numbers {
	margin-top:15px;
}
.site-footer .col-sm-6 {
	text-align:center !important;
}

.open aside.left-panel .navbar .navbar-nav li.menu-item-has-children .sub-menu{
	display:none}

.open aside.left-panel .navbar .navbar-nav li.menu-item-has-children.show .sub-menu{
	display:block;
}


 
}
 @media (max-width: 643px) {
}
 @media (max-width: 480px) {
}

/* Mobile devices */
@media (max-width: 359px) {
}
/**
 * 9.0 Print
 * ----------------------------------------------------------------------------
 */

/* Retina-specific styles. */
@media print, (-o-min-device-pixel-ratio: 5/4), (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 120dpi) {
}
 @media print {
}
